In [10]:
import pandas as pd

df = pd.read_csv("salaries_by_college_major.csv")

In [11]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [13]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [14]:
df["Starting Median Salary"]

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
50        NaN
Name: Starting Median Salary, dtype: float64

----------------------------------------------

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [25]:
highest_mid_salary_id = df["Mid-Career Median Salary"].idxmax()
df["Undergraduate Major"].loc[highest_mid_salary_id], df["Mid-Career Median Salary"].loc[highest_mid_salary_id]

('Chemical Engineering', np.float64(107000.0))

Which college major has the lowest starting salary and how much do graduates earn after university?

In [26]:
highest_mid_salary_id = df["Starting Median Salary"].idxmin()
df["Undergraduate Major"].loc[highest_mid_salary_id], df["Starting Median Salary"].loc[highest_mid_salary_id]

('Spanish', np.float64(34000.0))

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [27]:
highest_mid_salary_id = df["Mid-Career Median Salary"].idxmin()
df["Undergraduate Major"].loc[highest_mid_salary_id], df["Mid-Career Median Salary"].loc[highest_mid_salary_id]

('Education', np.float64(52000.0))

In [31]:
sorted_salaries = df.sort_values("Mid-Career 90th Percentile Salary", ascending=False)[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]]
sorted_salaries[:5]

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0